{% include 'partials/header.html.twig' %}

{% block body %}

    {# <div class="slideshow__container">

        {% for project in page.find('/projets').children.published.order("title", "asc") %}
            <div class="slideshow__project">

            {{ project.title }}<br>
            {{ project.header.custom.caption }}<br>
            {{ project.header.custom.type }}<br>
            <br>

                {% for slide in project.header.custom.images %}
                    <div class="slideshow__project_slide">
                        {% set imageUrl = (slide.image|first).name %}
                        <img src="{{project.media[imageUrl].url(false)}}" alt='Toto' class="slideshow__image">
                    </div>
                {% endfor %}
            </div>

        {% endfor %}

    </div> #}
    <div>
        <a href="javascript:void(0);" class="slideshow__prvproject" onclick="slideLeft()">&lt-</a>
        <a href="javascript:void(0);" class="slideshow__nxtslide" onclick="slideUp()">Slide</a>
        <a href="javascript:void(0);" class="slideshow__nxtproject" onclick="slideRight()">-&gt</a>
    </div>

    <div class="slideshow__container">
        <div class="slideshow__inner" id="slideshow__inner">
            {% for project in page.find('/projets').children.published.order("title", "asc") %}
                <div class="slideshow__project">
                    <div class="slideshow__project_inner">
                        {% for slide in project.header.custom.images %}
                            {% set imageUrl = (slide.image|first).name %}
                            <img src="{{project.media[imageUrl].url(false)}}" alt="{{slide.alt}}" class="slideshow__image">
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}


        </div>
        <div class="slideshow__overlay">
            <div id="slideshow__overlay_left" onclick="slideLeft()"></div>
            <div id="slideshow__overlay_middle" onclick="slideUp()"></div>
            <div id="slideshow__overlay_right" onclick="slideRight()"></div>
        </div>
    </div>

    <div id="informations__container" class="informations__container">

        <div class="informations__header">
            <h1 class="informations__logo">Solie Morin</h1>
            <a href="javascript:void(0);" onclick="removeInfos()" class="informations__close">[X]</a>
        </div>

        <div class="informations__content_wrapper">            
            <div class="informations__first_column">
                {{page.find('/informations').header.custom.firstcol|markdown}}
            </div>
            <div class="informations__second_column">
                {{page.find('/informations').header.custom.secondcol|markdown}}
            </div>
        </div>

    </div>
    
{% endblock body %}


{% include 'partials/footer.html.twig' %}