{% include 'partials/header.html.twig' %}

{% block body %}

    {% set projectsList = page.find('/projets').children.published.order("title", "asc") %}

    <div class="slideshow__container">
        <div class="slideshow__inner" id="slideshow__inner">
            {% for project in projectsList %}
                <div class="slideshow__project">
                    <div class="slideshow__project_inner">
                        {% for slide in project.header.custom.images %}
                            {% set imageUrl = (slide.image|first).name %}
                            <img src="{{project.media[imageUrl].url(false)}}" alt="{{slide.alt}}" class="slideshow__image">
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            {# {% for project in projectsList|slice(0, 1) %}
                <div class="slideshow__project first_project_clone">
                    <div class="slideshow__project_inner first_project_clone__inner">
                        {% for slide in project.header.custom.images %}
                            {% set imageUrl = (slide.image|first).name %}
                            <img src="{{project.media[imageUrl].url(false)}}" alt="{{slide.alt}}" class="slideshow__image">
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            {% for project in projectsList|slice(1, 1) %}
                <div class="slideshow__project second_project_clone">
                    <div class="slideshow__project_inner second_project_clone__inner">
                        {% for slide in project.header.custom.images %}
                            {% set imageUrl = (slide.image|first).name %}
                            <img src="{{project.media[imageUrl].url(false)}}" alt="{{slide.alt}}" class="slideshow__image">
                        {% endfor %}
                    </div>
                </div>
            {% endfor %} #}


        </div>
        <div class="slideshow__overlay">
            <div id="slideshow__overlay_left" onclick="slideLeft()"></div>
            <div id="slideshow__overlay_middle" onclick="slideUp()"></div>
            <div id="slideshow__overlay_right" onclick="slideRight()"></div>
        </div>
    </div>
    
    <div class="caption__container">
        {% for project in projectsList %}
            <span class="caption__project">{{project.header.custom.caption}}, {{project.header.date|date("Y")}} 
                {% if project.header.custom.type != null %}
                    ({{project.header.custom.type}})
                {% endif %}
            </span>
        {% endfor %}
    </div>

    <div id="informations__container" class="informations__container">

        <div class="header">
            <h1 class="informations__logo" onclick="removeInfos()">Solie Morin</h1>
            <div class="informations__close_icon_box">
                <img src="{{ url('theme://images/closeicon.svg') }}" onclick="removeInfos()" class="informations__close_icon">
                <img src="{{ url('theme://images/closeiconhover.svg') }}" onclick="removeInfos()" class="informations__close_icon_hovered">
            </div>
        </div>

        <div class="informations__content_wrapper">            
            <div class="informations__first_column">
                <div>
                    {{page.find('/informations').header.custom.firstcol|markdown}}
                </div>
                <div class="informations__footer">
                    <small>
                        (c) {{ 'now' | date('Y') }} Solie Morin.
                        <br> Droits réservés
                    </small>
                </div>
            </div>
            <div class="informations__second_column">
                {{page.find('/informations').header.custom.secondcol|markdown}}
            </div>
        </div>



    </div>
    
{% endblock body %}


{% include 'partials/footer.html.twig' %}