{% include 'partials/header.html.twig' %}

{% block body %}

    {% set projectsList = page.find('/projets').children.published.order("title", "asc") %}

    <div class="slideshow__container">
        <div class="slideshow__inner" id="slideshow__inner">
            {# CLONES DES 2 DERNIERES SLIDES #}
            {% for project in projectsList|slice(((projectsList|length)-2), 2) %}
            <div class="slideshow__project slideshow__invisible_slides">
                <div class="slideshow__project_inner">
                    {% for slide in project.header.custom.images %}
                        {% set imageUrl = (slide.image|first).name %}
                        <img src="{{project.media[imageUrl].url(false)}}" alt="{{slide.alt}}" class="slideshow__image">
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

            {# VRAIES SLIDES #}
            {% for project in projectsList %}
                <div class="slideshow__project">
                    <div class="slideshow__project_inner">
                        {% for slide in project.header.custom.images %}
                            {% set imageUrl = (slide.image|first).name %}
                            <img src="{{project.media[imageUrl].url(false)}}" alt="{{slide.alt}}" class="slideshow__image">
                        {% endfor %}
                    </div>
                    <div class="slideshow__overlay">
                        <div class="overlay__left" onclick="tabletClickLeft(this)"></div>
                        <div class="overlay__right" onclick="tabletClickRight(this)"></div>
                    </div>
                </div>


                <div class="resp__caption_box">
                    <span class="resp__caption__project">{{project.header.custom.caption}}, {{project.header.date|date("Y")}} 
                        {% if project.header.custom.type != null %}
                            ({{project.header.custom.type}})
                        {% endif %}
                    </span>
                    <span class="resp__caption__slides_counter">1/{{project.header.custom.images|length}}</span>
                </div>

            {% endfor %}

            {# CLONES DES 2 PREMIERES SLIDES #}
            {% for project in projectsList|slice(0, 2) %}
                <div class="slideshow__project slideshow__hidden_clones">
                    <div class="slideshow__project_inner">
                        {% for slide in project.header.custom.images %}
                            {% set imageUrl = (slide.image|first).name %}
                            <img src="{{project.media[imageUrl].url(false)}}" alt="{{slide.alt}}" class="slideshow__image">
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}


        </div>

    </div>
    
    <div class="caption__container">
        {# LES CAPTIONS & COMPTEURS POUR LES 2 CLONES DES SLIDES FINALES #}
        {% for project in projectsList|slice(((projectsList|length)-2), 2) %}
            <span class="caption__project">{{project.header.custom.caption}}, {{project.header.date|date("Y")}} 
                {% if project.header.custom.type != null %}
                    ({{project.header.custom.type}})
                {% endif %}
            </span>
            <span class="caption__slides_counter">1/{{project.header.custom.images|length}}</span>
        {% endfor %}        
                
        {# LES CAPTIONS & COMPTEURS POUR LES VRAIS PROJETS #}
        {% for project in projectsList %}
            <span class="caption__project">{{project.header.custom.caption}}, {{project.header.dateDebut|date("Y")}}{% if project.header.dateFin != null %}-{{- project.header.dateFin|date("Y")}}{% endif %}
                {% if project.header.custom.type != null %}
                    ({{project.header.custom.type}})
                {% endif %}
            </span>
            <span class="caption__slides_counter">1/{{project.header.custom.images|length}}</span>
        {% endfor %}

        {# LES CAPTIONS & COMPTEURS POUR LES 2 CLONES DES PREMIERES SLIDES #}
        {% for project in projectsList|slice(0, 2) %}
            <span class="caption__project">{{project.header.custom.caption}}, {{project.header.date|date("Y")}} 
                {% if project.header.custom.type != null %}
                    ({{project.header.custom.type}})
                {% endif %}
            </span>
            <span class="caption__slides_counter">1/{{project.header.custom.images|length}}</span>
        {% endfor %}        
    </div>

    <div id="informations__container" class="informations__container">

        <div class="header">
            <h1 class="informations__logo" onclick="removeInfos()">Solie Morin</h1>
            <div class="informations__close_icon_box">
                <img src="{{ url('theme://images/closeicon.png') }}" onclick="removeInfos()" class="informations__close_icon">
                <img src="{{ url('theme://images/closeiconhover.png') }}" onclick="removeInfos()" class="informations__close_icon_hovered">
            </div>
        </div>

        <div class="informations__content_wrapper">            
            <div class="informations__first_column">
                <div>
                    {{page.find('/informations').header.custom.firstcol|markdown}}
                </div>
                <div class="informations__footer">
                    <small>
                        (c) {{ 'now' | date('Y') }} Solie Morin.
                        <br> Droits réservés
                    </small>
                </div>
            </div>
            <div class="informations__second_column">
                {{page.find('/informations').header.custom.secondcol|markdown}}
            </div>
            <div class="resp__informations_footer">
                <small>
                    (c) {{ 'now' | date('Y') }} Solie Morin - Droits réservés
                </small>
            </div>
        </div>
        



    </div>
    
{% endblock body %}


{% include 'partials/footer.html.twig' %}