{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ html_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>Solie Morin</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'partials/metadata.html.twig' %}

    <link rel="stylesheet" type="text/css" href="{{ url('theme://css/styles.css') }}?{{ date().format('U') }}"/>
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />


    
{% endblock head %}
</head>

<body>

{% block header %}

    <div class="header">
        <h1 class="header__logo">Solie Morin</h1>
        <a href="javascript:void(0);" onclick="displayInfos()" class="header__infos">Informations</a>
        <img src="{{ url('theme://images/info.png') }}" onclick="displayInfos()" class="header__infos_icon" alt="Afficher les informations">

    </div>


{% endblock %}

